body{
font-family: 'Luckiest Guy', cursive;
}

.height{
min-height: 100vh;
}
.tittle-underline{
    width: 200px;
    height: 5px;
    margin: 0 auto;
    
}
.height-80{
    min-height: 100vh;
}
.about-picture{
   background: url(../img/business-computer-connection-contemporary-450035.jpg) center/cover no-repeat fixed; 
}
#filler,{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.9)),url(../img/pexels-photo-1054218.jpeg) center/cover no-repeat fixed; 
}
#progress{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.9)),url(../img/one-world-trade-center-336594_1920.jpg) bottom/cover no-repeat fixed;
}
